@charset "utf-8";
/* CSS Document */

/* <!-- */
	/* General styles */
	body {
		margin:0;
		padding:0;
		border:0;			/* This removes the border around the viewport in old versions of IE */
		width:100%;
		background:#fff;
		min-width:600px;    /* Minimum width of layout - remove line if not required */
							/* The min-width property does not work in old versions of Internet Explorer */
		font-size:90%;
		font-family:"Times New Roman", Times, serif;
	}
	a {
		color:#369;
	}
	a:hover {
		color:#000;
		/*background:#369;*/
		text-decoration:underline;
	}
	h1, h2, h3 {
		margin:.8em 0 .2em 0;
		padding:0;
	}
	p {
		margin:.4em 0 .8em 0;
		padding:0;
	}
	img {
		/*margin:10px 0 5px;*/
		border:0;
	}
	table th{  text-align:left;}
	table#list th{ border-bottom:1px solid #666; border-top:1px solid #666; background:#d7d7d7; padding-left:3px; color:#000; height:25px;}
	
	table#list td{ height:25px; border-bottom:1px dotted #666; padding-left:3px;}
	table#list td.empty{ color:#900; text-align:center;}
	
	#banner{ width:100%; height:75px; border-bottom:5px solid #be1e2d; background:/*url(../images/logo.gif) left no-repeat*/ #0071bc;}
	
	/* Header styles */
	#header {
		clear:both;
		float:left;
		width:100%;
	}
	#header {
		border-bottom:1px solid #000;		
	}
	#header p,
	#header h1,
	#header h2 {
		padding:.4em 15px 0 10px;
		margin:0;
	}
	/* 'widths' sub menu */
	#layoutdims {
		clear:both;
		/*border-top:2px solid #000;*/
		margin:0;
		padding:0 0 !important;
		text-align:left;
	}
	#legend{
		margin:5px 5px 0 auto;
		/*border:1px solid #000;*/
		width:250px;
		text-align:right;
	}
	/* column container */
	.colmask {
		position:relative;	/* This fixes the IE7 overflow hidden bug */
		clear:both;
		float:left;
		width:100%;			/* width of whole page */
		overflow:hidden;	/* This chops off any overhanging divs */
	}
	
	#breadcrumb{
		padding-top:10px;
		border-bottom:1px dotted #000;		
	}
	#message{
		margin-top:5px;
		/*padding:5px;
		border:1px dotted #000;*/
		text-align:center;
		display:none;
	}
	.page_controls{ min-height:28px; /*border:1px solid #000;*/ margin-bottom:5px; text-align:right;}
	
	/* common column settings */
	.colright,
	.colmid,
	.colleft {
		float:left;
		width:100%;
		position:relative;
	}
	.col1,
	.col2,
	.col3 {
		float:left;
		position:relative;
		padding:0 0 1em 0;
		overflow:hidden;
	}
	/* Module Content */
	#modContent{
		min-height:400px;
		/*border:1px dotted #000;*/
	}
	/* 2 Column (right menu) settings */
	.rightmenu {
		background:#eee;	/* right column background colour */
	}
	.rightmenu .colleft {
		right:25%;			/* right column width */
		background:#fff;	/* left column background colour */
	}
	.rightmenu .col1 {
		width:71%;			/* left column content width (left column width minus left and right padding) */
		left:26%;			/* (right column width) plus (left column left padding) */
	}
	.rightmenu .col2 {
		width:21%;			 /*right column content width (right column width minus left and right padding) */
		left:31%;			 /*(right column width) plus (left column left and right padding) plus (right column left padding)*/ 
	}
	
	#overview{
		width:99%; /*height:250px;
		border:1px solid #000;*/
	}
	/* Footer styles */
	#footer {
		clear:both;
		float:left;
		width:100%;
		border-top:1px solid #000;
	}
	#footer p {
		padding:10px;
		margin:0;
	}
	/* --> */

/* Portal boundry */

table#portal { 
	border-bottom:1px dotted #999999; 
	border-top:1px dotted #999999; 
	border-left:1px dotted #999999; 
	border-right:1px dotted #999999;
}

table#portal td{ padding-left:10px; padding-right:10px;}

/* Pagination Div Style*/
#paginate{ text-align:right; height:30px; margin-top:10px;} 


/*input[type=text]{ width:400px; border: 1px solid #CCC;}*/
input[type=password]{ width:400px; border: 1px solid #CCC;}
.txtarea{ width:400px; height:80px; border: 1px solid #CCC; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.txtlarge{ width:400px; border: 1px solid #CCC;}
.txtsmall{ width:150px; border: 1px solid #CCC;}
.txtvsmall{ width:100px; border: 1px solid #CCC;}
.selectlarge { width:400px; border:1px solid #CCC;}
.selectsmall { width:150px; border:1px solid #CCC;}
.txtdisable { background:#f0f0f0;}


.success{ color:#030;padding:5px;
		border:1px dotted #030;
		text-align:center; background:#C4F4C5; font-weight:bold;}
		
.warning{ color:#DE110C;padding:5px;
		border:1px dotted #DE110C;
		text-align:center; background:#F9E8E6; font-weight:bold;}

label.error{ color:#900; font-family:Arial, Helvetica, sans-serif; font-size:12px; vertical-align:bottom; display:block; padding:3px 0 3px 0;}
input.error{ background-color:#FAE4E9; border: 1px dashed #EF949D;}

/* color module styles */
div.color{ width:23px; height:23px; border:1px solid #d0d0d0;}

/* cart page */
#tblcart { line-height:20px;}
#tblcart th{ text-align:left; border-bottom:1px solid #666; border-top:1px solid #666; background:#d7d7d7;}
#tblcart tr td{ border-bottom:1px dotted #666;}



/* order form details */
#order-details{ width:265px; height:175px; border:1px dotted #d0d0d0; padding:5px; float:left; background:#F0F0F0;}
#transaction-details{ width:265px; height:175px; border:1px dotted #d0d0d0; padding:5px; float:left; margin-left:10px; background:#F0F0F0;}
#address-details{ width:310px; height:175px; border:1px dotted #d0d0d0; padding:5px; float:left; margin-left:10px; background:#F0F0F0;}

#product-details{ width:883px; min-height:100px; border:1px dotted #d0d0d0; padding:5px; margin-top:10px; float:left;}